        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        @font-face {
            font-family: "dm-sans";
            src: url("assets\fonts\DMSans-VariableFont_opsz,wght.ttf") format('truetype');
        }
        
        @font-face {
            font-family: "dm-sans";
            src: url("assets\fonts\DMSans-Italic-VariableFont_opsz,wght.ttf") format('truetype');
            font-weight: italic;
        }
        
         :root {
            --purple-100: hsl(254, 88%, 90%);
            --purple-500: hsl(256, 67%, 59%);
            --yellow-100: hsl(31, 66%, 93%);
            --yellow-500: hsl(39, 100%, 71%);
            --white: hsl(0, 0%, 100%);
            --black: hsl(0, 0%, 7%);
            --font-size-p: 18px;
            --font-family: "dm-sans";
        }
        
        .container {
            display: grid;
            justify-content: center;
            align-content: center;
            height: 100vh;
            width: 100vw;
            /* grid-template-columns: repeat(auto-fit, 3.5rem); */
            grid-template-columns: repeat(14, 3.5rem);
            grid-template-rows: repeat(12, 3.5rem);
            gap: 1.5rem;
        }
        
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1.5rem;
        }
        
        .item:nth-child(1) {
            grid-column: 5/11;
            grid-row: 2/6;
            background-color: var(--purple-500);
        }
        
        .item:nth-child(2) {
            grid-column: 5/8;
            grid-row: 6/9;
            background-color: var(--white);
        }
        
        .item:nth-child(3) {
            grid-column: 8/11;
            grid-row: 6/9;
            background-color: var(--yellow-500);
        }
        
        .item:nth-child(4) {
            grid-column: 11/14;
            grid-row: 2/9;
            background-color: var(--purple-100);
        }
        
        .item:nth-child(5) {
            grid-column: 8/14;
            grid-row: 9/12;
            background-color: var(--purple-500);
        }
        
        .item:nth-child(6) {
            grid-column: 5/8;
            grid-row: 9/12;
            background-color: var(--white);
        }
        
        .item:nth-child(7) {
            grid-column: 2/5;
            grid-row: 2/7;
            background-color: var(--yellow-100);
        }
        
        .item:nth-child(8) {
            grid-column: 2/5;
            grid-row: 7/12;
            background-color: var(--yellow-500);
        }
        
        .item:nth-child(9) {
            grid-column: 1/2;
            grid-row: 1/14;
        }
        
        .item:nth-child(10) {
            grid-column: 14/15;
            grid-row: 1/14;
        }
        
        @media only screen and (max-width: 1024px) {
            .container {
                /* grid-template-columns: repeat(auto-fit, 2.5rem); */
                grid-template-columns: repeat(14, 2.5rem);
                grid-template-rows: repeat(12, 2.5rem);
                gap: 1em;
            }
        }
        
        @media only screen and (max-width: 767px) {
            .container {
                /* grid-template-columns: repeat(auto-fit, 2rem); */
                grid-template-columns: repeat(14, 2rem);
                grid-template-rows: repeat(12, 2rem);
                gap: 1em;
            }
        }
        /* @media only screen and (max-width: 655px) {
            .container {
                grid-template-columns: 2rem 1fr 2rem;
                grid-template-rows: repeat(auto-fit, 2rem);
                gap: 1rem;
            }
        } */